<%- include ("header") -%>


    <section class="vh-100">
      <div class="container-fluid vh-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div >
            <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
              alt="Sample image">
          </div>
        </div>
        <div class="form-group-div">
          <div class="sign-in-form-div">
            <form action="/api/user" method="post" class="sign-in-form">
              <div class="">
                <p class="lead fw-normal mb-0 me-3">Sign in</p>
              </div>
              <div class="">
                <label class="form-label" for="userName">Username: </label>
                <!-- <input type="text" id="username" name="userName" placeholder="Enter your unique username"> -->
                <input type="text" name="user" value="" placeholder="Enter username">
                <button type="submit" class="btn btn-primary btn-sm sign-in-btn">Login</button>
              </div>
              <!-- <div class="signin-btn-div">


              </div> -->

            </form>
          </div>


              <div class="sign-up">
                <p class="lead fw-normal mb-0 me-3">New User?</p>
                <div class="">
                  <form class="" action="/api/users" method="post">
                    <label class="form-label" for="username">Username: </label>
                    <input type="text" name="username" value="" placeholder="Enter unique username">
                    <button type="submit" class="btn btn-dark btn-sm register-btn" >Register</button>
                  </form>

                </div>
              </div>



          </div>

      </div>



  <%- include ("footer") -%>
